@page
@model WebClient.Pages.Account.AccessDenied

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

<div class="row">
    <div class="col">
        <h1>@ViewLocalizer["AccessDenied"]</h1>
        <p>@ViewLocalizer["Description"]</p>
    </div>
</div>