@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

@{
    if (@Model.Success)
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
    else
    {
        <p>
            Something gone wrong :(
        </p>
        <p>
            Email wasn't sent
        </p>
    }
}

