@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["Home"];
}

<div class="text-center">
    <h1 class="display-4">@ViewLocalizer["ViewGreeting"]</h1>
</div>