@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>
@{
    ViewData["Title"] = "Add ingredient";
}

<form method="POST" asp-route-menuID="@ViewData["MenuID"]">
    <div class="form-group">
        <label for="ingredientID">Add ingredient:</label>
    </div>
    @*<input type="hidden" name=ingredientID />*@
    <div class="form-group">
        @*<textarea placeholder="You can make comments about this order" name="message" cols="70" rows="3">@ViewData["Message"]</textarea>*@
        <select name="ingredientID">
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>