@model Restaurant_management_system.WebUI.ViewModels.TableDTO
@{
    ViewData["Title"] = "Table";
}

<h1>Table№ @Model.ID</h1>

<div class="col-md-1">
    <form asp-action="EditTable">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <input type="checkbox" asp-for="IsOccupiedBool" />
            <label asp-for="IsOccupiedBool" class="control-label">Occupied</label>
            <span asp-validation-for="IsOccupiedBool" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="IsPaidBool" />
            <label asp-for="IsPaidBool" class="control-label">Paid</label>
            <span asp-validation-for="IsPaidBool" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AmountOfGuests" class="control-label">Guests</label>
            <input asp-for="AmountOfGuests" class="form-control" />
            <span asp-validation-for="AmountOfGuests" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>