@model Restaurant_management_system.WebUI.ViewModels.DishWithTypesDTO
@{
    ViewData["Title"] = "Dish";
}

<div class="col-md-1">
    <form asp-action="EditDish" asp-route-tableID="TableID">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="TableID" />

        <select asp-for="MenuID" name="MenuID">
            <option value="0">None</option>
            @foreach (var item in Model.DishDTOs)
            {
                @if (item.ID == Model.MenuID)
                {
                    <option selected value="@item.ID">@item.Name</option>
                }
                else
                {
                    <option value="@item.ID">@item.Name</option>
                }
            }
        </select>

        <div class="form-group">
            <input type="checkbox" asp-for="IsTakenAway" />
            <label asp-for="IsTakenAway" class="control-label">Taken Away</label>
            <span asp-validation-for="IsTakenAway" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="IsPrioritized" />
            <label asp-for="IsPrioritized" class="control-label">Prioritized</label>
            <span asp-validation-for="IsPrioritized" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>