@model List<Restaurant_management_system.WebUI.ViewModels.MenuDTO>
@{
    ViewData["Title"] = "Menu";
}

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Ingredients</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.IngredientsNames</td>
                    <td>
                        <a asp-action="EditMenu" asp-route-menuID="@item.ID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>