@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>
@{
    ViewData["Title"] = "Ingredients";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Price</td>
                    <td>
                        <a asp-action="EditIngredient" asp-route-ingredientID="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="RemoveIngredient" asp-route-ingredientID="@item.ID">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a asp-action="EditIngredient">Add</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>