@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>
@{
    ViewData["Title"] = "Ingredients";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Price</td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Chef"))
                        {
                            <a asp-action="EditIngredient" asp-route-ingredientID="@item.ID" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="RemoveIngredient" asp-route-ingredientID="@item.ID" class="btn btn-danger btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </a>
                        }
                    </td>
                </tr>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Chef"))
            {
                <tr>
                    <td>
                        <a asp-action="EditIngredient" class="btn btn-secondary btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>