@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>
@{
    ViewData["Title"] = "Products";
}

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a asp-action="EditIngredient" asp-route-ingredientID="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="RemoveIngredient" asp-route-ingredientID="@item.ID">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="EditIngredient" class="btn btn-primary">Add ingredient</a>
</div>